- provide(:title,"About")
h1
  | About
p
  a[href="https://railstutorial.jp/"]
    | Ruby on Rails Tutorial
  |  is a 
  a[href="https://railstutorial.jp/#ebook"]
    | book
  |  and 
  a[href="https://railstutorial.jp/#screencast"]
    | screencast
  |  to teach web development with 
  a[href="http://rubyonrails.org/"]
    | Ruby on Rails
  | . This is the sample application for the tutorial. 
