- provide(:title, "Home")

- if logged_in?
  div.row
    aside.col-md-4
      section.user_info
        =render 'shared/user_info'
      section.stats
        =render 'shared/stats'
      section.micropost_form
        =render 'shared/micropost_form'
    div.col-md-8
      h3
        |Micropost Feed
      =render 'shared/feed'
-else
  div.center.jumbotron
    h1
      | Welcome to the Sample App

    h2
      | This is the home page for the
      a[href="https://railstutorial.jp/"]
        | Ruby on Rails Tutorial
      | sample application.

    = link_to signup_path , class: "btn btn-lg btn-primary"
      | Sign up now!

= link_to 'http://rubyonrails.org/'
  = image_tag "rails.png", alt: "Rails logo"
  /= image_tag "kitten.jpg", alt: "koneko"