- provide :title, "Log in"
h1
	| Log in

div.row
	div.col-md-6.col-md-offset-3
		= form_with scope: :session , local: true, url: login_path do |f|

			= f.label :email
			= f.email_field :email, class:'form-control', id: :email

			= f.label :password
			= link_to "(forgot password)", new_password_reset_path
			= f.password_field :password, class:'form-control', id: :password

			= f.label :remember_me, class:'checkbox inline'
				=f.check_box :remember_me
				span
					|Rememeber me on this computer

			= f.submit "Log in", class:'btn btn-primary', id: :submit

		p
			| New user?
			= link_to "Sign up now!", signup_path