- provide :title, 'Reset password'
h1
	|Reset password

div.row
	div.col-md-6.col-md-offset-3
		=form_with scope: :password_reset, method: :patch, local: true, url: password_reset_path(params[:reset_token]) do |f|
			=render 'shared/error_messages', object: @user
		
			=hidden_field_tag :email, @user.email

			=f.label :password, "Password"
			=f.password_field :password, class: 'form-control', id: :password

			=f.label :password_confirmation, "Confirmation"
			=f.password_field :password_confirmation, class: 'form-control', id: :password_confirmation

			=f.submit "Update password", class: "btn btn-primary", id: :submit