- provide :title, "Forgot password"
h1
	|Forgot password

div.row
	div.col-md-6.col-md-offset-3
		= form_with scope: :password_reset, local: true, url:password_resets_path do |f|
			=f.label :email
			=f.email_field :email, class: "form-control", id: :email

			=f.submit "Submit", class: "btn btn-primary", id: :submit
