= form_with model: @user , local: true , options do |f|
	= render partial: 'shared/error_messages' , locals: { user: @user }

	=f.label :name
	=f.text_field :name, class:'form-control', id: :name 
	=f.label :email
	=f.email_field :email, class:'form-control', id: :email

	=f.label :password
	=f.password_field :password, class:'form-control', id: :password

	=f.label :password_confirmation
	=f.password_field :password_confirmation, class:'form-control', id: :password_confirmation

	=f.submit yield(:button_text), class:'btn btn-primary', id: :submit