- provide :title, "Edit user"

h1
  | Update your profile

div.row
  div.col-md-6.col-md-offset-3
    = form_with model: @user , local: true do |f|
      =render 'shared/error_messages' , locals: { user: @user }, object: @user

      =f.label :name
      =f.text_field :name, class:'form-control', id: :name 
      =f.label :email
      =f.email_field :email, class:'form-control', id: :email

      =f.label :password
      =f.password_field :password, class:'form-control', id: :password

      =f.label :password_confirmation
      =f.password_field :password_confirmation, class:'form-control', id: :password_confirmation

      =f.submit "Save changes" , class:'btn btn-primary', id: :submit
      
    div.gravatar_edit
      = gravatar_for @user
      a href="http://gravatar.com/emails" target="_blank"
        | Change