- provide(:title, @user.name)

div.row
	aside.col-md-4
		section.user_info
			h1
				= gravatar_for @user
				= @user.name
		section.stats
			=render 'shared/stats'
		-if logged_in?
			=render 'follow_form'
	div.col-md-8
		-if @user.microposts.any?
			h3
				| Microposts(
				=@user.microposts.count
				|)
			ol.microposts
				=render @microposts
			= will_paginate @microposts