- @user ||= current_user
div.stats
	a[href="#{following_user_path(@user)}"]
		strong#folowing.stat
			= @user.following.count
		|following

	a[href="#{followers_user_path(@user)}"]
		strong#folowers.stat
			= @user.followers.count
		|followers