footer.footer
  small
    | The 
    a[href="https://railstutorial.jp/"]
      | Ruby on Rails Tutorial 
    |by 
    a[href="http://www.michaelhartl.com/"]
      | Michael Hartl

  nav
    ul
      li
        = link_to about_path
          | About   
      li
        = link_to contact_path
          | Contact
      li
        a[href="http://news.railstutorial.org/"]
          | News