doctype html
html
  head
    title
      = full_title(yield(:title))
    = render 'layouts/head'
    = render 'layouts/shim'
  body
    = render 'layouts/header'
    div.container
      - flash.each do |message_type,message|
        =content_tag(:div,message,class:"alert alert-#{message_type}")
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?